<div kmKeysContainer="Dynamic Content">

  <button (click)="showContent = !showContent">Toggle Content</button>

  <ng-container *ngIf="showContent">

    <p kmKeyBinding key="shift + D" (action)="run()" label="Dynamic Action" tabindex="0">Some content</p>

    <button (click)="showMoreContent = !showMoreContent">Toggle more Content</button>
    <p *ngIf="showMoreContent" kmKeyBinding key="shift + F" (action)="run()" label="Nested Dynamic Action" tabindex="0">More Content</p>

  </ng-container>

</div>
