
<h1 class="text-xl">Item-List</h1>

<div class="m-3" kmKeysContainer name="Item-List" [ignoreTargets]="[]">

  <input type="checkbox" id="allCheckbox" [checked]="areAllSelected()" (change)="toggleAll()" kmKeyBinding key="a" (action)="toggleAll()" label="Toggle All" />
  <label for="allCheckbox">Toggle All</label>

  <p>Focused Item Index: {{focusedItemIndex}}</p>

  <ul class="mt-3"
      [kmMultiKeyBindings]="[
        {key: 'up', action: focusPreviousItem, label: 'Select Previous Item'},
        {key: 'down', action: focusNextItem, label: 'Select Next Item'},
      ]">

    <li #itemElements
        *ngFor="let item of items; let i = index"
        (focusin)="setFocusedItemIndex(i)"
        [kmMultiKeyBindings]="[
          {key: 'x', action: toggleSelected.bind(this, item), label: 'Toggle Current Selection', multi: true, strategy: i === 0 ? visualizationStrategyOptions.overlay() : undefined},
          {key: 'd', action: duplicateSelected.bind(this, item), label: 'Duplicate Current Selection', multi: true, strategy: i === 0 ? visualizationStrategyOptions.overlay() : undefined},
        ]">

      <input type="checkbox" [id]="'checkbox_'+item" [checked]="isSelected(item)" (change)="toggleSelected(item)">
      <label [for]="'checkbox_'+item">{{item}}</label>

    </li>
  </ul>

  <p>Select: {{getSelected()}}</p>

</div>
