
<section class="space-y-8 h-[200vh]">

  <div>
    <h1>Out-of-Scope Bereich</h1>
    <button>Zzzz</button>
  </div>

  <hr/>

  <key-master-textarea></key-master-textarea>

  <hr/>

  <div kmKeysContainer name="Empty Container" [strategy]="strategyOptions.exclusive()">
    <div kmKeysContainer [strategy]="strategyOptions.bubble()">
      <button>What about empty exclusive Containers O.o</button>
    </div>
  </div>

  <div>
    <button kmKeyBinding key="x" (action)="getDummyAction('x')" label="DummyLabel_X">KeyBinding outside any Container</button>
  </div>

  <div class="border border-red-500" kmKeysContainer>
    <div kmKeyBinding key="b" (action)="getDummyAction('b')" label="DummyLabel_B">
      <button>New Area</button>
      <div class="border border-amber-500" kmKeysContainer name="Nested Area" [strategy]="strategyOptions.bubble()">
        <button>Nested Area</button>
        <div kmKeyBinding key="a" (action)="getDummyAction('a')" label="DummyLabel_A">
          <div>
            <div>
              <button kmKeyBinding key="c" (action)="getDummyAction('c')" label="DummyLabel_C">C-KeyBinding-Button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-blue-500" kmKeysContainer [strategy]="strategyOptions.exclusive()">
    Bereich A

    <div>
      <button kmKeyBinding key="shift+a" (action)="getDummyAction('shift+a')" label="DummyLabel_SHIFT+A">FOO</button>
    </div>

    <div kmKeyBinding key="ctrl+b" (action)="getDummyAction('ctrl+b')" label="DummyLabel_CTRL+B">
      Bereich A-Nested (belongs to Container A, but has additional key-bindings)
      <input type="text" value="FOO_BAR" />
    </div>
  </div>

  <div class="bg-green-500" kmKeysContainer>
    Bereich B
    <button>BAR</button>
  </div>

  <div class="bg-amber-500" kmKeysContainer name="List-Navigation">
    Bereicht C

    <ul>
      <!-- attr tabindex necessary to make div focusable -->
      <li *ngFor="let i of ['1','2','3','4','5']" (click)="onListElementClick(i)" tabindex="0" kmKeyBinding [key]="i" (action)="getDummyAction(i)" [label]="'DummyLabel_'+i">ListenElement #{{i}}</li>
      <li (click)="onListElementClick('6')" tabindex="0" kmKeyBinding key="6" (action)="getDummyAction('6')" label="DummyLabel_6" [strategy]="visualizationStrategyOptions.noop()">ListenElement #6 (my VisualizationStrategy is Noop)</li>
    </ul>
  </div>

  <hr/>

  <h1>Visualization</h1>

  <button (click)="overlayService.toggleOverlay()">Toggle Overlay</button>

</section>
